$g-blue: hsl(237, 18%, 59%);
$s-red: hsl(345, 95%, 68%);
$s-red: hsl(345, 95%, 68%);
$ds-blue: hsl(236, 21%, 26%);
$vd-blue: hsl(235, 16%, 14%);
$dv-m-blue: hsl(234, 17%, 12%);

$white: #FFFFFF;
$black: #191A23;
$darkblue: #1F1E29;
$grey: #8385A9;
$darkgrey: #979797;
$red: #FB5E84;
